
    <div class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
        <img src="/assets/images/logo.png" class="logo" style="max-height:70px" routerLink="/">
        <nav class="my-2">
          <a class="p-2 text-dark text-decoration-none" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">HOME</a>
          <a class="p-2 text-dark text-decoration-none" routerLink="/shop" routerLinkActive="active">SHOP</a>
          <a class="p-2 text-dark text-decoration-none" routerLink="/test-error" routerLinkActive="active">CONTACT</a>
        </nav>
    
        <div class="d-flex align-items-center">
            <a href="position-relative">
                <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
                <div class="cart-no">5</div>
            </a>


            <a class="btn btn-outline-primary mx-2" href="#">Login</a>
            <a class="btn btn-outline-primary mr-3" href="#">Sign up</a>
        </div>
        
      </div>